<?php
$products = $this->getCollection();
$helper = Mage::helper('catalog/product');
?>
<?php if ($products->getSize() > 0) : ?>
<div class="bestsellers-block">
    <div class="block-content">
        <div class="block-title">
            <strong>
                <span><?php echo $this->getHeader() ?></span>
            </strong>
          </div>
    </div>
    <ul class="bestsellers-slider-<?php echo $this->getId() ?>" data-items="<?php echo $this->getSliderItems() ?>">
      <?php foreach ($products as $product) : ?>
          <li class="bs-item">
              <a href="<?php echo $helper->getProductUrl($product) ?>"><img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(75) ?>" alt="<?php echo $this->htmlEscape($product->getName()) ?>" width="75" height="75" /></a><br />
              <a href="<?php echo $helper->getProductUrl($product) ?>"><?php echo $this->htmlEscape($product->getName()) ?></a><br />
          </li>
      <?php endforeach ?>
    </ul>
</div>
<script>
    jQuery(document).ready(function(){
        jQuery('.bestsellers-slider-<?php echo $this->getId() ?>').owlCarousel({
            navigation: false,
            items: jQuery(this).data('items'),
            autoPlay: false,
            autoplayHoverPause: true,
            navigationText : [
                "<div class=\"nav nav-prev\"><</div>",
                "<div class=\"nav nav-next\">></div>",
            ],
        });
    });
</script>
<?php endif; ?>
